<template>
  <div class="home">
    <top-bar/><br>
    <div class="columns is-centered">  
        <chore/>
        <bucket/>
    </div>
    <div class="columns is-centered">  
        <new-chore msg="| tulee propsina |"/>
        <new-bucket/>
    </div>
    <!-- <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Chore from '@/components/Chore.vue';
import Bucket from '@/components/Bucket.vue';
import NewChore from '@/components/NewChore.vue';
import NewBucket from '@/components/NewBucket.vue';
import TopBar from '@/components/TopBar.vue';


export default {
  name: 'home',
  components: {
    HelloWorld,
    Chore,
    Bucket,
    NewChore,
    NewBucket,
    TopBar,
  }
}
</script>
