<template>
  <div class="column is-two-fifths">
    <div class="box">
      <p><strong>BUCKETS</strong></p><br>
      <article v-for="bucket in GetBuckets" :key=bucket.id class="media is-vertical-center">

        
        <div class="media-left">
          <p> {{bucket.name}} </p>
        </div>
        <div class="media-content">
          <div class="content">
            <progress class="progress" :value="bucket.currentPoints" :max="bucket.totalPoints">15%</progress>
          </div>
        </div>
        <div class="media-right">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="image">
          </figure>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Bucket',
  props: {
    msg: String
  },
  data: () => {
    return {
      //Buckets: [{name: 'Dessert', currentPoints:3, totalPoints: 10}, {name: 'New toy',currentPoints:35, totalPoints: 50}] 
      }
  },
  methods: {
  },
  computed: {
    GetBuckets() {return this.$store.getters['buckets/GetBuckets']}
  },
}
</script>
