<template>
  <div class="column is-two-fifths">
    <div class="box">
      <p class="has-text-centered"><strong>CHORES</strong></p><br>
      <article v-for="chore in GetChores" :key=chore.id class="media is-vertical-center">

        
        <div class="media-left">
          <p><strong>{{chore.points}}</strong></p>
        </div>
        <div class="media-content">
          <div class="content">
            <p>{{chore.name}}-{{myValue}}</p>
          </div>
        </div>
        <div class="media-right" @click="CompleteChore(chore)">
          <i class="fas fa-arrow-circle-right fa-3x"></i>
        </div>

      </article>
    </div>
    <p></p>
  </div>
</template>

<script>
export default {
  name: 'Chore',
  props: {
    msg: String
  },
  data: () => {
    return {
      completedChore: {},
    }
  },
  methods: {
    CompleteChore(event) {this.$store.dispatch('chores/CompleteChore', event)},
  },
  computed: {
    myValue() {return this.$store.state.chores.myValue},
    GetChores() {return this.$store.getters['chores/GetChores']},
    testausta() {return console.log(this.completedChore)},
  },
}
</script>
