<template>
  <div class="column is-two-fifths">
    <div class="box">
      <p><strong>NEW BUCKET</strong></p><br>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input v-model="newBucketValues.name" class="input" type="text" placeholder="What is the name of the bucket?">
        </div>
      </div>
      <div class="field">
        <label class="label">Points</label>
        <div class="control">
          <input v-model.number="newBucketValues.points" class="input" type="number" placeholder="How many points will it take for the bucket to fill?">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label">
            Repeats
            <input type="checkbox" checked v-model="newBucketValues.bucketShouldRepeat">
          </label>
        </div>
      </div>
      <div v-if="newBucketValues.bucketShouldRepeat" class="field">
        <label class="label">Cooldown</label>
        <div class="control">
          <input v-model.number="newBucketValues.cooldown" class="input" type="number" placeholder="After how many days should the bucket return?">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" @click="AddBucket">Submit</button>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
export default {
  name: 'NewBucket',
  props: {
    msg: String
  },
  data: () => {
    return {
      newBucketValues: {
        name: '',
        points: 0,
        bucketShouldRepeat: false,
        cooldown: 0,
      }
    }
  },
  methods: {
    AddBucket() {this.$store.dispatch('buckets/AddNewBucket', this.newBucketValues); this.newBucketValues={name:'',points:0,taskShouldRepeat:false,cooldown:0}},
  }
}
</script>
