<template>
  <div class="column is-two-fifths">
    <div class="box">
      <p><strong>NEW CHORE</strong></p><br>
      <form>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input v-model="newChoreValues.name" class="input" type="text" placeholder="What is the name of the chore or task?">
          </div>
        </div>
        <div class="field">
          <label class="label">Points</label>
          <div class="control">
            <input v-model.number="newChoreValues.points" class="input" type="number" placeholder="How many points is the task worth?">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="label">
              Repeats
              <input type="checkbox" checked v-model="newChoreValues.taskShouldRepeat">
            </label>
          </div>
        </div>
        <div v-if="newChoreValues.taskShouldRepeat" class="field">
          <label class="label">Cooldown</label>
          <div class="control">
            <input v-model.number="newChoreValues.cooldown"  class="input" type="number" placeholder="After how many days should the task return?">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" @click="AddChore">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>


<script>
export default {
  name: 'NewChore',
  props: {
    msg: String
  },
  data: () => {
    return {
      newChoreValues: {
        name: '',
        points: 0,
        taskShouldRepeat: false,
        cooldown: 0,
      }
    }
  },
  methods: {
    AddChore() {this.$store.dispatch('chores/AddNewChore', this.newChoreValues); this.newChoreValues={name:'',points:0,taskShouldRepeat:false,cooldown:0}},
   }
}
</script>
