<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <p>CHOREBUSTER LOGO</p>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <i class="fas fa-child fa-3x"></i>
      </div>
      <div class="navbar-end">
        <i class="fas fa-cogs fa-3x"></i>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'TopBar',
  props: {
    msg: String
  },
}
</script>